body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.header{
    background-color: #1F2937; 
    display: flex;
    justify-content:space-around;

}

.header a{
    text-decoration: none;
    color: white;
}

.header ul{
    display: flex;
}

.header li{
    list-style: none;
    padding-right: 20px;
}

.first-section{
    padding-top: 80px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 100px;

}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 10px;
}

.text-first-section-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.text-first-section-para{
    font-size: 18px;
    color: #E5E7EB;
}

.signup_button a{
    background-color: #3882F6;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: #3882F6;
    border-radius: 12px;
    padding: 7px 25px;
}

.signup_button{
    margin-top: 10px;
}

.image-placeholder{
    color:white;
    background-color: gray;
    padding: 80px 90px;
}


.left-first{
    max-width: 500px;
}

.text-second-section-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 10px;
}

.second-section-container{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 100px;
}

.info{
    flex-basis: 5px;
    margin-top: 20px;
    margin-left: 40px;
    color: gray;
    font-size: 15px;
}

.third-section{
    background-color: #E5E7EB;
}

.third-section .text-placeholder{
   padding: 100px 500px;
}

.text-third-section-quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.text-third-section-quote-person{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.text-fourth-section-title{
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.text-fourth-section-para{
    color: white;
    font-size: 12px;
}

.fourth-section-button a{
    background-color: #3882F6;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 12px;
    padding: 7px 20px;
}

.fourth-section-container{
    background-color: #3882F6;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 100px 450px;
    border-radius: 15px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.footer{
    background-color: #1F2937;
    color: white;
    padding: 30px;
    text-align: center;
}